@layer base {
    input, textarea, select {
        /* Удаляет стандартное внутреннее затенение и серый градиент в iOS Safari */
        -webkit-appearance: none;
        appearance: none;

        /* Фиксирует прозрачность текста, которую iOS режет по умолчанию */
        -webkit-text-fill-color: currentcolor;
        opacity: 1;
    }

    /* Исправление для заблокированных полей, которые на мобильных сливаются с фоном */
    input:disabled, textarea:disabled {
        -webkit-text-fill-color: #1a1a1a !important; /* Принудительный темный цвет */
        color: #1a1a1a !important;
        opacity: 1 !important;
    }
}
